<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<p>{{Test}}</p>

  <div class="text-center grid-container align-center">
    <div class="grid-block home-img-bg">
      <div class="grid-container v-align">
        <button id="button">Find Food</button>
      </div>
    </div>
    <div class="grid-block"></div>
    <div class="grid-container"></div>
    <div class="footer"></div>
  </div>
