
<div class="container">
<img class="index_image" src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/magic-marker-icons-food-beverage/115503-magic-marker-icon-food-beverage-knife-fork.png" style="text-align: center"/>
  <h1 class="index">Cheap Eats</h1>
  <p class="index">find cheap food in your area</p>
  <div class="button-center">
    <button id="button" class="button">Find Food</button>
  </div>
</div>