

body {
  padding: 50px;
  color: black;
  font-family: 'Oxygen', sans-serif;
}

a {
  color: darkred;
  text-decoration: none;
}

h1{
  font-family: 'Roboto', sans-serif;
  color: darkred;
  font-weight: 700;
}

.index_header {

}

#button {
  background-color: red;
  color: white;
}

div.indiv_rest {
  padding: 30px 0px;
}

.featured_img {
  padding-bottom: 5%;
}


/*html { 
  background: url('http://pixel.nymag.com/imgs/daily/grub/2015/07/10/magazine/13-cheap-eats-bowls.w750.h560.2x.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img.bg {
  min-height: 100%;
  min-width: 1024px;
  z-index: -100;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { 
  img.bg {
    left: 50%;
    margin-left: -512px;
  }
}*/
